<ion-header [translucent]="false">
  <ion-toolbar color="fintech">
    <ion-title class="ion-text-center">
      Pockets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    
  <ion-list>
    <ion-list-header>
      Your Money
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://previews.123rf.com/images/rrraven/rrraven1403/rrraven140300296/26428248-money-icon.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Pocket Name</h2>
        <h3>$$$$</h3>
        <p>Pocket designed to keep your money safe.</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Last Movements
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://image.flaticon.com/icons/png/512/20/20800.png">
      </ion-avatar>
      <ion-label>
        <h2>Tipo de transacción</h2>
        <h3>$$$$</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="https://cdn4.vectorstock.com/i/1000x1000/76/18/pig-money-icon-simple-black-style-vector-19617618.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Tipo de transacción</h2>
        <h3>$$$$$$</h3>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
